/*
Copyright: Géraldine Sanchez 2017
*/
/* 
    Created on : 8 oct. 2017, 14:54:34
    Author     : Géraldine Sanchez
*/

/*=============================================================================
Intégration des polices
=============================================================================*/

/* importation de la font Brusher */
@import "../fonts/brusher.css";

/* importation de la font Poppins */
@import "../fonts/poppins.css";

/* importation de la font Montserrat Alternates */
@import "../fonts/montserratalternates.css";

/* importation des icones */
@import "../fonts/icones-gsweb.css";



/*=============================================================================
Mise en page générale
=============================================================================*/

html {
    margin: 0 !important;
}

body {
    margin: 0 !important;
    background-image: url(../images/filet.png);
}

.container {
    background-color: #f9f9f9;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

h2, h3 {
    font-family: "montserrat_alternatesregular", "Helvetica Neue",Helvetica,Arial, sans-serif;
}

p {
    color: #555;
}

a {
    color: #178ba2;
}

a:hover {
    text-decoration: none;
/*    font-weight: bold;*/
    color: #fec800;
}


/* ============================================================================
    Bouton "back to top"
   ============================================================================ */

#topBtn {
    display: none;  /*Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 15px; /* Place the button at the bottom of the page */
    right: 15px; /* Place the button 30px from the right */
    z-index: 1000; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #178ba2; /* Set a background color */
    color: white; /* Text color */
    font-size: 28px;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 8px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
}

#topBtn:hover {
    background-color: #fec800; /* Add a black background on hover */
    color: #ffffff;
    text-decoration: none;
}

#topBtn:focus, #myBtn:visited, #myBtn:active {
    text-decoration: none;
}


/*=============================================================================
Barre de navigation
=============================================================================*/

.navbar {
    margin-bottom: 0;
    background-color: #178ba2;
    z-index: 9999;
    border: 0;
    box-shadow: 0 2px 2px #555;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar .container {
        background-color: #178ba2;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #ffffff !important;
    background-color: #fec800 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #ffffff !important;
}

.navbar-brand {
    font-family: "poppinsbold", "Helvetica Neue",Helvetica,Arial, sans-serif;
    float: none;
}

.icone-logo:before {
    content: url(../images/cerf-volant-jaune.png);
    position: relative;
    top: 8px;
    left: -8px;
}

.icon-bar {
    background-color: #f9f9f9 !important;
}

.navbar-toggle:hover, .navbar-toggle:focus  {
    background-color: #fec800 !important;
}

/*=============================================================================
Header
=============================================================================*/


.bloc-titre {
    margin-top: 25%;
}

.logo {
    position: absolute;
    top: 120px;
    left: 18%;
    height: 260px;
    
}

header h1 {
    font-family: "poppinsbold", "Helvetica Neue",Helvetica,Arial, sans-serif;
    font-size: 80px;
    color: #178ba2;
    font-weight: 800;
    letter-spacing: 5px;
}

/* taille du "3" pour à la même hauteur que "pix" */
header h1 .chiffre {
    font-size: 76px;
}

header h2 {
    font-size: 24px;
    font-style: italic;
    color: #178ba2;
    padding-left: 190px;
    padding-bottom: 3%;
}

header h3 {
    font-size: 24px;
    font-weight: bold;
    padding-top: 2%;
    color: #555;
}
/*
header p {
    font-family: "montserrat_alternatesregular", "Helvetica Neue",Helvetica,Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
}*/

/* icone de contact */

header .icone-mail {
    padding-top: 30px;
    color: #178ba2;
    font-size: 80px;
}

header .icone-mail:hover {
    color: #fec800;
}


/* ========================================================================
Sections : général
=======================================================================*/

.section {
    padding: 70px 50px 0 50px;
}

.section h2 {
    /*border-top: solid #178ba2 1px;*/
    color: #178ba2;
    padding-bottom: 15px;
    font-size: 34px;
}

.section h3 {
    position: relative;
    font-size: 24px;
    padding: 20px 0 10px 20px;
}

.section h4 {
    padding-top: 20px;
    font-weight: bold;
}

.section p {
    padding-bottom: 10px;
    padding-left: 30px;
}

/* boutons contact et envoyer */

.btn {
    font-family: "montserrat_alternatesregular", "Helvetica Neue",Helvetica,Arial, sans-serif;
    background-color: #178ba2;
    border: none;
    color: #ffffff;
}

.btn:hover {
    background-color: #fec800;
    color: #ffffff;
}

/* ========================================================================
À propos
=======================================================================*/

#apropos {
    /*background-image: url(../images/fond-apropos.png);*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
}

#apropos h2 {
    padding-bottom: 40px;
}

#apropos .btn {
    margin-top: 50px;
}

#apropos img {
    position: absolute;
    top: 120px;
    right: -20px;
}

/* ========================================================================
Services
=======================================================================*/

#services li {
    list-style: none;
}

.icone-liste {
    color: #178ba2;
    padding-right: 5px;
}

#services .col-md-6 {
    position: relative;
}

.titre {
    position: relative;
    z-index: 2;
}

.pixel {
    z-index: 0;
}

.pixels:after {
    content: url(../images/3pix.png);
    position: relative;
    top: 1px;
    left: 5px;
}

.pixel:before {
    content: url(../images/1pixl.png);
    position: absolute;
    top: 12px;
    left: 6px;
}

/*=============================================================================
Références
=============================================================================*/

#references h2 {
    padding-bottom: 50px;
}

.thumbnail {
    background-color: #f9f9f9;
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    font-family: "montserrat_alternatesregular", "Helvetica Neue",Helvetica,Arial, sans-serif;
    padding-top: 10px;
}

.thumbnail p:hover, .thumbnail p:active, .thumbnail p:focus, .thumbnail p:visited, .thumbnail p:target  {
    text-decoration: none;
}

.modal-content {
    top: 100px;
}

.modal-body img {
    max-width: 260px;
    margin-top: 10px;
}

/*=============================================================================
Contact
=============================================================================*/

#contact h2 {
    padding-bottom: 50px;
}

#contact .icone-liste {
    font-size: 24px;
}

#contact .form-group {
    padding-left: 0px;
}

/*=============================================================================
Pied de page
=============================================================================*/

footer {
    padding: 50px 0;
}

footer a {
    padding-right: 20px;
}



/*=============================================================================
Media Queries
=============================================================================*/


/* marge supérieure du bloc titre */
@media all and (max-height: 719px) and (min-width: 600px) {
    .bloc-titre {
        margin-top: 14%;
    }
}

/* suppression de l'image des étapes pour tablettes et smartphones */
@media all and (max-width: 991px) {
    #apropos img {
        display: none;
    }
}

/* réduction de la marge des titres h3 */
@media all and (max-width: 599px) {
    .section h3 {
        margin-left:-40px;
    }
}

/* ajustement du logo */
@media all and (min-width: 1200px) and (max-width: 1599px) {
    .logo {
            top: 110px;
    left: 11%;
    height: 240px;
    }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
    .logo {
        top: 110px;
        left: 7%;
        height: 200px;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .logo {
        top: 100px;
        left: 4%;
        height: 150px;
    }
}

@media all and (min-width: 600px) and (max-width: 767px) {
    .logo {
        top: 100px;
        left: 3%;
        height: 110px;
    }
    
    .section h3 {
        padding-left: 0px;
    }
    
    .section p {
        padding-left: 0px;
}
}

@media all and (max-width: 599px) {
    .logo {
        display: none;
    }
    
    header h1 {
        font-size: 65px;
    }
    
    header h1 .chiffre {
        font-size: 62px;
    }
    
    header h2 {
        font-size: 20px;
        padding-left: 90px;
    }
    
    header h3 {
        font-size: 20px;
    }
}
